.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared-style */
.spn{
    color: #fd6e0a;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.sec-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* Nav Section Start */

/* Nav Styles */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
align-items: center;    
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
.btn{
   background-color: #fd6e0a; 
   font-weight: bold;
   font-size: 20px;
   color: white;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;
   /* gap: 5px; */
}

/* Nav Section End */

/* Banner Section Start */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}


.banner-grittengs{
    font-size: 45px;
    font-weight: 600;
}
.banner-titel{
    font-weight: bold;
    font-size: 85px;
}

.banner-description{
    font-weight: 400;
    font-size: 18px;
}
.banner-profile{
    width: 580px;
}

/* Banner Section Ens */

/* main style css start */
.main{
max-width: 1140px;
margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* main style css ends */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* What Can I Do style Start */
.skills-contener{
    display: flex;
    gap: 24px;
} 
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* What Can I Do style Ends */
/* resume style start */
.reasume-contener{
    display: flex;
    gap: 24px;
}
.experince-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experince-desceiption,.experince-sub-title{
    color: #757575;

}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
/* resume style Ends */

/* footer Styles start */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 24px;
    margin-bottom: 24px;
    border: none;
}
/* footer Styles ends */


/* For Responsive media Style */

@media screen and (max-width:576px) {
    .skills-contener,
    .reasume-contener,
    footer,
    .about-items,
    .banner,
    nav,
    nav > ul{
    flex-direction: column;
}

nav > ul{
    gap: 10px;
}
.header{
    background-image: none;
}

.banner{
    margin: 20px;
}

.banner-profile{
    width: 100%;
}

.btn{
    margin-bottom: 20px;
}

footer, .about{
    padding: 18px;
}

.footer-column{
    width: 100%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: calc(100% - 40px);
}
}